
.admin_menu{
  background-color: #101010;
  height: 100vh;
  position: fixed;
  padding-top: 6em;
  min-width:200px;
}

.admin_menu__bar{
  position: absolute;
  width: 100%;
  top: 0px;
  background-color: #101010;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 31px 0px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #fff;
  font-size: 2em;
}

@media screen and (max-width: 992px) {
  .admin_menu{
    display: none;
  }
}

.admin_menu__container{
  padding-top:'4em';
  position:'absolute';
  width:'100%';
}

.admin_menu__title{
  font-size: 2em;
  cursor: pointer;
  position: relative;
  color: rgb(255,255,255);
  background-color: #000;
  padding-left: 1em;
  line-height: 200%;

  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
}
.admin_menu__title:hover{
  color:rgb(124,211,211);
}

.admin_menu__subtext{
  overflow: hidden;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 150%;
  padding-left: 2em;
}

.admin_menu_option{
  width: 100%;
}

.admin_menu_option__container{
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: rgb(255,255,255);
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
}
.admin_menu_option__container:hover{
  color:rgb(124,211,211);
}

