  /*remove gutters on bootstrap grid*/
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
  .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
  .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 0px;
    padding-right: 0px;
  }
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }

  body{
    width: 100vw;
    overflow-x: hidden;
  }

  /*Twitter Component*/

  .twitter{
    max-width: 768px;
    float: right;
  }
  .twitter__header{
    height: 40px;
    padding-left: 10px;
    color: #ddd;
    font-family: 'Open Sans', Helvetica;
    font-size: 1.5em;
    background-color: #101010;
    border-radius: 5px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    font-weight: 600,
  }
  
  .twitter__tweet{
  font-family:'Open Sans', Helvetica;
  color: #ddd;
  padding: 10px;
  text-align: left;
  background: #101010;
  overflow: hidden;
  vertical-align: top;

  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  word-wrap: break-word;

  position: relative;
  float: left;
  font-size: 1em;
  width: 100%;
  height: 90px;

  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  }