.menuPanel{
  position: fixed;
  height: 100vh;
  top: 0px;
  background-color: #000;
  -webkit-transition:  .4s ease-out;
  -moz-transition:  .4s ease-out;
  -o-transition:  .4s ease-out;
  transition: .4s ease-out;
  width: 300px;
  z-index: 11;
}

.menuLink{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.menuButtonWrapper{
  position: fixed;
  mix-blend-mode:  difference;
  z-index:  100;
  top: 0px;
  right: 10px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  will-change: opacity;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
  background-color: #000;
}

.menuButton{
  background: transparent;
  color: #fff;
}

.menuLine{
  height: 3px;
  width: 24px;
  position: absolute;
  left: 18px;
  z-index: 11;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
}
