.subscription_notice{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 80vw;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 20px;
  max-width: 1100px;
  text-align: center;
}

.subscription_row{
  padding: 15px 20px;
  background: #030303;
  border-radius: 4px;
  position: flex;
  width: 80vw;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 20px;
  max-width: 1100px;

  justify-content: space-between;
}

.subscription_row__left{
  width: 45%;
  display: inline-block;
}
.subscription_title{
  font-size: 3em;
  margin-bottom: 10px;
}
.subscription_subtitle{

}

.subscription_row__right{
  display:inline-block;
  width: 55%;
  text-align: right;
}
.subscription_row__price_1_row{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dashed rgba(255,255,255,.2);
}
.subscription_row__price_1{
  display: inline-block;
  font-size: 3.5em;
  margin-right: 10px;
}
.subscription_row__price_1_time{
  display: inline-block;
  font-size: 1.2em;
}
.subscription_row__price_2_row{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
.subscription_row__price_2{
  display: inline-block;
  font-size: 3.5em;
  margin-right: 10px;
}
.subscription_row__price_2_time{
  display: inline-block;
  font-size: 1.2em;
}

@media screen and (max-width: 992px) {
  .subscription_row__left{
    position: relative;
    width: 100%;
    text-align: center;
  }
  .subscription_row__right{
    width: 100%;
    text-align: center;
  }
  .subscription_row__price_1_row{
    border-right: none;
  }
}