.subscription_row{
  margin-bottom: 20px;
  padding: 5px 20px;
  background: #030303;
  border-radius: 4px;
  position: relative;
  width: 80vw;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1100px;
}

.subscription_row__left{
  width: 45%;
  display: inline-block;
}
.subscription_title{
  font-size: 2em;
}
.subscription_subtitle{

}

.subscription_row__right{
  float: right;
}
.subscription_row__price_1_row{
  display: inline-block;
}
.subscription_row__price_1{
  display: inline-block;
  font-size: 2em;
}
.subscription_row__price_1_time{
  display: inline-block;
}
.subscription_row__price_2_row{
  display: inline-block;
}
.subscription_row__price_2{
  display: inline-block;
  font-size: 2em;
}
.subscription_row__price_2_time{
  display: inline-block;
}