.home_navbar{
  top: 0px;
  width: 100%;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 31px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40px;

  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}

.template_link{
  color: #4a8ecc;
}

.home_navbar__link{
  text-decoration: none;
  color: #ddd;
  text-align: center;
}

.home_navbar__link__container{
  text-align: center;
}

.template1_header{
  height: 11em;
  width: 100%;
  background: linear-gradient(90deg, rgb(132, 158, 181), rgb(48, 57, 74));
}

.template_row{
  margin-top: 15px;
}

@media screen and (max-width: 992px) {
  .template1_header{
    height: 22em;
  }

  .home_navbar__link{
    display: none;
  }
}

/*---Social Components---*/

.social__header{
  height: 42px;
  padding-top: 5px;
  padding-left: 20px;
  color: #ddd;
  font-family: 'Open Sans', Helvetica;
  font-size: 22px;
  background-color: #000;
  border-radius: 5px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-weight: 400,
}

  /*---Twitter Component---*/

  .twitter{
    max-width: 570px;
    float: right;
    width:100%;
  }

  .twitter_post{
  font-family:'Open Sans', Helvetica;
  color: #999;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  background: #090909;
  overflow: hidden;
  vertical-align: top;

  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  word-wrap: break-word;

  position: relative;
  float: left;
  font-size: 1em;
  width: 100%;
  height: 90px;

  border-top: 1px solid #121212;
  border-left: 1px solid #121212;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
  }

  .twitter_timestamp{
    font-size: .8em;
    color: #666;
  }

  @media screen and (max-width: 992px) {
    .twitter{
      max-width: 100%;
      float: right;
    }
  }


/*---Reddit Component ---*/

.reddit{
  max-width: 570px;
  float: left;
  width:100%;
}

.reddit_post{
  font-family:'Open Sans', Helvetica;
  color: #ddd;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  background: #090909;
  overflow: hidden;
  vertical-align: top;

  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  word-wrap: break-word;

  position: relative;
  float: left;
  font-size: 1em;
  width: 100%;
  height: 90px;

  border-top: 1px solid #121212;
  border-left: 1px solid #121212;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
}

.reddit_timestamp{
  font-size: .8em;
}

@media screen and (max-width: 992px) {
  .reddit{
    max-width: 100%;
    float: right;
  }
}

/*---Lastfm Component ---*/

.lastfm{
  max-width: 570px;
  float: left;
  width:100%;
}

.lastfm_post{
  font-family:'Open Sans', Helvetica;
  color: #ddd;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  background: #090909;
  overflow: hidden;
  vertical-align: top;

  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  word-wrap: break-word;

  position: relative;
  float: left;
  font-size: 1em;
  width: 100%;
  height: 90px;

  border-top: 1px solid #121212;
  border-left: 1px solid #121212;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
}

.lastfm_timestamp{
  font-size: .8em;
}

.lastfm_image{
  height: 70px;
}

.lastfm_text{
  float: right;
  width: calc(100% - 90px);
}

@media screen and (max-width: 992px) {
  .lastfm{
    max-width: 100%;
    float: right;
  }
}

/*---Youtube Component---*/

.youtube{
  max-width: 570px;
  float: right;
  width:100%;
}
.youtube_post{
  width: 100%;
  height: 80px;
  background-color:#ddd;
  border: 1px solid #000;
}

@media screen and (max-width: 992px) {
  .youtube{
    max-width: 100%;
    float: right;
  }
}

/*---Youtube Component---*/

.twitch{
  max-width: 570px;
  float: left;
  width:100%;
}
.twitch_post{
  width: 100%;
  height: 80px;
  background-color:#ddd;
  border: 1px solid #000;
}

@media screen and (max-width: 992px) {
  .twitch{
    max-width: 100%;
    float: right;
  }
}



/*---Stream Live---*/

.stream_live{
  width: 100%;
  height: 130px;
  background-color: rgba(0,0,0,.5);
  margin-top: 10px;
  border-radius: 10px;
  padding: 25px;
}

.stream_live__header{
  font-size: 2em;
  color: #ddd;
}

/*---Stream Logo---*/
.stream_logo{
  margin-top:35px;
  height:80px;
}

/*--- mobile navbar for template---*/

.mobile_nav{
  padding-left: 80px;
  height:auto;
  max-height: 720px;
  overflow:hidden;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}

.mobile_nav--hidden{
  max-height:0px;
}

.template_nav_btn{
  position: fixed;
  mix-blend-mode:  difference;
  z-index:  100;
  top: 0px;
  left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  will-change: opacity;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
  background-color: #000;
  display:block;
}

.template_nav_btn__container{
  background: transparent;
  color: #fff;
}

.template_nav_line_1{
  background-color: #fff;
  height: 2px;
  width: 16px;
  position: absolute;
  left: 18px;
  z-index: 11;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;

  top: 19px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.template_nav_line_1--closed{
	top: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

}

.template_nav_line_2{
  background-color: #fff;
  height: 2px;
  width: 16px;
  position: absolute;
  left: 18px;
  z-index: 11;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;

  top: 19px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.template_nav_line_2--closed{
	top: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.template_nav_line_3{
  background-color: #fff;
  height: 2px;
  width: 0px;
  position: absolute;
  left: 18px;
  z-index: 11;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;

  top: 24px;
}

.template_nav_line_3--closed{
  width: 16px;
}

.template_nav_link{
  line-height: 200%;
  color: #9d9d9d;
}

@media screen and (min-width: 992px) {
  .mobile_nav{
    display: none;
  }
  .template_nav_btn__container{
    display: none;
  }
  .template_nav_btn{
    display: none;
  }
}