.template1_navbar{
  top: 0px;
  height: 3em;
  width: 100%;
  position: absolute;
  background-color: #101010;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 31px 0px;
}

.template1_header{
  height: 11em;
  width: 100%;
  background: linear-gradient(90deg, rgb(132, 158, 181), rgb(48, 57, 74));
  margin-top: 3em;
}


@media screen and (max-width: 992px) {
  .template1_header{
    height: 22em;
  }
}

/*---Social Components---*/

.social__header{
  height: 40px;
  padding-left: 10px;
  color: #ddd;
  font-family: 'Open Sans', Helvetica;
  font-size: 1.5em;
  background-color: #090909;
  border-radius: 5px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-weight: 600,
}

  /*---Twitter Component---*/

  .twitter{
    max-width: 570px;
    float: right;
    width:100%;
  }

  .twitter_post{
  font-family:'Open Sans', Helvetica;
  color: #ddd;
  padding: 10px;
  text-align: left;
  background: #090909;
  overflow: hidden;
  vertical-align: top;

  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  word-wrap: break-word;

  position: relative;
  float: left;
  font-size: 1em;
  width: 100%;
  height: 90px;

  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  }

  .twitter_timestamp{
    font-size: .8em;
  }

  @media screen and (max-width: 992px) {
    .twitter{
      max-width: 100%;
      float: right;
    }
  }


/*---Reddit Component ---*/

.reddit{
  max-width: 570px;
  float: left;
  width:100%;
}

.reddit_post{
  font-family:'Open Sans', Helvetica;
  color: #ddd;
  padding: 10px;
  text-align: left;
  background: #090909;
  overflow: hidden;
  vertical-align: top;

  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  word-wrap: break-word;

  position: relative;
  float: left;
  font-size: 1em;
  width: 100%;
  height: 90px;

  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.reddit_timestamp{
  font-size: .8em;
}

@media screen and (max-width: 992px) {
  .reddit{
    max-width: 100%;
    float: right;
  }
}

/*---Lastfm Component ---*/

.lastfm{
  max-width: 570px;
  float: left;
  width:100%;
}

.lastfm_post{
  font-family:'Open Sans', Helvetica;
  color: #ddd;
  padding: 10px;
  text-align: left;
  background: #090909;
  overflow: hidden;
  vertical-align: top;

  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  word-wrap: break-word;

  position: relative;
  float: left;
  font-size: 1em;
  width: 100%;
  height: 90px;

  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.lastfm_timestamp{
  font-size: .8em;
}

.lastfm_image{
  height: 70px;
}

.lastfm_text{
  float: right;
  width: calc(100% - 90px);
}

@media screen and (max-width: 992px) {
  .lastfm{
    max-width: 100%;
    float: right;
  }
}

/*---Youtube Component---*/

.youtube{
  max-width: 570px;
  float: right;
  width:100%;
}
.youtube_post{
  width: 100%;
  height: 80px;
  background-color:#ddd;
  border: 1px solid #000;
}

@media screen and (max-width: 992px) {
  .youtube{
    max-width: 100%;
    float: right;
  }
}

/*---Youtube Component---*/

.twitch{
  max-width: 570px;
  float: left;
  width:100%;
}
.twitch_post{
  width: 100%;
  height: 80px;
  background-color:#ddd;
  border: 1px solid #000;
}

@media screen and (max-width: 992px) {
  .twitch{
    max-width: 100%;
    float: right;
  }
}



/*---Stream Live---*/

.stream_live{
  width: 100%;
  height: 130px;
  background-color: rgba(0,0,0,.5);
  margin-top: 10px;
  border-radius: 10px;
  padding: 25px;
}

.stream_live__header{
  font-size: 2em;
  color: #ddd;
}

/*---Stream Logo---*/
.stream_logo{
  margin-top:10px;
  height:130px;
}